@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
*{
    font-family: 'Noto Serif TC', serif;
}
html,
body {
    height: 100%;
}
div.container {
    display: flex;
    justify-content: center;
    height: 10%;
}
div.box1 {
    width: 200px;
    background-color: rgb(245, 16, 8);

    p{
        background-color: #619cc4;
    }

    &:hover p{
        background-color: rgb(28, 245, 8);
    }

    &:hover ~ div.box5{
        background-color: red;
    }
}
// div.box1:hover p{
//     background-color: greenyellow;
// }
// div.box1:hover ~ div.box5{
//     background-color: red;
// }
div.box2 {
    width: 200px;
    background-color: rgb(255, 176, 6);
}
div.box3 {
    width: 200px;
    background-color: rgb(231, 231, 3);
}
div.box4 {
    width: 200px;
    background-color: rgb(37, 163, 226);
}
div.box5 {
    width: 200px;
    background-color: rgb(27, 246, 27);
}


div {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //flex-direction: column;
    //width: 50%;
    h1 {
        width: fit-content;
        color: rgb(143, 204, 184);
        background-color:#619cc4;
        border: 1px dashed;
    }
    h1:hover{
        background-color: red;
        width: fit-content;
    }
    P {
        color: #124578;
    }
}

table,tr,th,td {
    border: 1px solid;
    border-spacing: 0;
}
th {
    background-color: #fff8d2;
}
a {
    text-decoration: none;
}
/* 
ol li {
    color: red;
} */
